body {
    font-family: 'Segoe UI', sans serif;
    font-size: 10pt;
    background: #555;
   color: #f2f2f2;
}
code {
    color: #555;
    padding: 2px 5px;
    font-weight: bold;
    background: #eee;    
}
pre {
    font-family: menlo,consolas,monospace;
    font-weight: normal;    
    font-size: 87%;
    line-height: 1.40;
    margin: 7px 0;
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: auto;    
    max-width: 98%;
    white-space:  pre;
    word-break: normal;
    word-wrap: normal;    
}
pre code {
    white-space: pre;    
}


#ChatMessages {                        
    overflow-x: auto;            
    margin-top: 50px;         
}
.page-header {
    position: fixed;
    top:0;
    width: 100%;
    opacity: 0.90;
    background: #333; 
    color: #eee; 
    font-size: 1.8em;
    font-weight: 600;
    padding: 5px;
    margin: 0;
    border-bottom: none;
}
.message-item {
    color: #eee;   
    padding: 2px 20px 0 10px;
    border-bottom: 1px solid #444;
}
.message-item-name { 
    font-weight: 700;
    font-size: 1.05em;
    color: brickpaver;
    color: #999;   
    margin-bottom: 2px;         
}
.message-item-time {
    float: right;
    text-align: right;
    font-style: italic;
}
.message-detail {
    
}
.message-detail-activeuser {
    font-style: italic;
    color: cornsilk;
}
